name: Build & Deploy Static cdjbooks.com

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    steps:
      - name: Install wget
        run: sudo apt-get install -y wget

      - name: Crawl cdjbooks.com
        run: |
          wget \
            --mirror \
            --convert-links \
            --adjust-extension \
            --page-requisites \
            --no-parent \
            https://cdjbooks.com

          mv cdjbooks.com public

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: public

  deploy_github:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2

  deploy_cloudflare:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download static artifact
        uses: actions/download-artifact@v4
        with:
          name: github-pages
          path: public

      - name: Deploy to Cloudflare Pages
        run: |
          npx wrangler pages deploy public \
            --project-name=cdjbooks-static \
            --branch=main
        env:
          CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
